  <!-- Spacebar Cafe Section -->
  <section id="cafe" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Local Sunrise and Sunset</h2>
          <p class="text-white-50">Below are the local sunrise and sunset times based on your longitude and latitude! These times are for the current date.</p>
            <div class="sunrise-display">
                <h2 class="text-white mb-4">Sunrise</h2>
                <p class="text-white-50">{{ sunrise }}</p>
            </div>
            <div class="sunset-display">
                <h2 class="text-white mb-4">Sunset</h2>
                <p class="text-white-50">{{ sunset }}</p>
            </div>
        </div>
      </div>
      <img class="img-thumbnail" src="../static/images/sunrise.jpg" class="img-fluid" alt="">
    </div>
  </section>
